:root {
  --red: #F75C4C !important;
  --orange: #FFB202 !important;
  --yellow: #FDDC43 !important;
  --green: #1ABC9C !important;
  --purple: #B470D0 !important;
  --blue: #59abe3 !important;
  --aqua: #00d4d9 !important;
  --grey:#8da5b8 !important ;
  --grey-light: #82c7e0 !important;
  --btn-blue: #59ABE3 !important;
  --btn-blue-hvr: #368BC5 !important;
  --btn-green: #1ABC9C !important;
  --btn-green-hvr: #16A085 !important;
  --btn-red: #F15A4A !important;
  --btn-red-hvr: #d64130 !important;
  --second-font:  'PT Sans', sans-serif;
  --main-bg: #2A3F50 !important;
}



.work, .high {
  background-color: var(--orange) !important;
}

.education {
  background-color: var(--blue) !important;
}

.hobby {
  background-color: var(--purple) !important;
}
.sport, .urgent {
  background-color: var(--red) !important;
}
.other {
  background-color: var(--aqua) !important;
}

.middle {
  background-color: var(--yellow) !important;
}

.low {
  background-color: var(--green) !important;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
   /* font-family: 'PT Sans', sans-serif; */
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #fff
 }

 .wrapper {
   background-color: var(--main-bg);
   /* width: 1440px; */
   height: 100%;
   padding: 50px 44px;
 }
 