:root {
  --redish: #F75C4C;
  --orangeish: #FFB202;
  --yellowish: #FDDC43;
  --greenish: #1ABC9C;
  --purpleish: #B470D0;
  --blueish: #59abe3;
  --aquaish: #00d4d9;
  --greyish:#8da5b8;
  --grey-light: #82c7e0;
  --btn-blue: #59ABE3;
  --btn-blue-hvr: #368BC5;
  --btn-green: #1ABC9C;
  --btn-green-hvr: #16A085;
  --btn-red: #F15A4A;
  --btn-red-hvr: #d64130;
  --second-font:  'PT Sans', sans-serif;
  --main-bg: #2A3F50;
  --error-bg: #f75c4c;
  --success-bg: #1abc9c;
  --expired: #9f9f9f;
}



.work, .high {
  background-color: var(--orangeish);
}

.education {
  background-color: var(--blueish);
}

.hobby {
  background-color: var(--purpleish);
}
.sport, .urgent {
  background-color: var(--redish);
}
.other {
  background-color: var(--aquaish);
}

.middle {
  background-color: var(--yellowish);
}

.low {
  background-color: var(--greenish);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
   /* font-family: 'PT Sans', sans-serif; */
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #fff
 }

 .wrapper {
   background-color: var(--main-bg);
   /* width: 1440px; */
   height: 100%;
   padding: 50px 44px;
 }

 @media (max-width: 768px) {
  .wrapper {
    padding: 20px;
  }
 }

 .v-application a {
color: none; 
}
 

 .v-application p {
  margin-bottom: 0;
 }

 .v-application ul, .v-application ol {
  padding-left: 0 !important;
}

.v-card__text {
  width: initial !important;
}

.v-tabs--icons-and-text > .v-tabs-bar .v-tab > *:first-child {
  margin-bottom: 0 !important;
}